!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}

    %title Recht Associates

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}

    %link{:href => "http://fonts.googleapis.com/css?family=Gentium+Basic:700,400italic|Droid+Serif", :rel => "stylesheet"}
    %link{:href => "/stylesheets/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/responsive.css", :rel => "stylesheet"}

    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    %link{:href => "/ico/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}/
    %link{:href => "/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    %link{:href => "/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    %link{:href => "/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body
    = partial "header"
    
    = yield_content(:hero_unit)

    .container
      = yield


    #contact-form.modal.hide{:role => "dialog"}
      .modal-header
        %button{:type => "button", :class => "close", :data => {:dismiss => "modal"}} &times;
        %h3 Contact Us
      .modal-body
        %form.form-horizontal
          %fieldset
            .control-group
              %label.control-label{:for => "subject"} Subject
              .controls
                %input#subject{:type => "text", :placeholder => "What's on your mind?"}
            .control-group
              .controls
                %textarea{:rows => "3"}
            .control-group
              .controls
                %button{:type => "submit", :class => "btn btn-primary"} Submit


    = partial "footer"
    = partial "scripts"
